/* Styles for all pages */
body {
    background-color: #DBE5FF;
    margin: 0px;
    margin-bottom: 1em;
}

/* Styles for navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0247FE;
}

#logo-nav {
    margin: .3em;
}
  
li {
 float: left;
}

li a, .dropbtn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #DBE5FF;
    padding: 1em 4em;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #678FFE;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0247FE;
    z-index: 1;
}

.dropdown-content a {
    color: #DBE5FF;
    padding: 1em 2.45em;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Styles for home page */
#background {
    height: 500px;
    width: 100%;
}

/* Styles for best-selling section in home page */
#bestsellers {
    width: 100%;
    text-align: center;
    color: #012998;
}

#table {
    display: table;
}

#bestsell-content {
    display: table-cell;
    width: 30%;
    padding: .3em;
    margin: .6em .4em;
}

.even {
    background-color: #DBE5FF;
}

.odd {
    background-color: #678FFE;
}

#learn-more {
    text-decoration: none;
    color: white;
    background-color: #0247FE;
    padding: .5em;
}

#learn-more:hover {
    background-color: #012998;
}

#demo-img {
    width: 140px;
    height: 100px;
}

/* Styles for about page */
#whoweare h1, #whatwedo h1 {
    text-align: center;
}

#whoweare {
    display: inline-block;
    background-color: #DBE5FF;
    color: #012998;
    padding: .6em;
}

#whoweare img {
    float: left;
    width: 45%;
    margin: 2em;
}

#whatwedo {
    display: inline-block;
    background-color: #678FFE;
    color: #012998;
    padding: .6em;
}

#whatwedo img {
    float: right;
    width: 45%;
    margin: 2em;
}

#whoweare p, #whatwedo p {
    margin: 3em 2em;
}

/* Styles for contact us page */

#contact {
    margin: 2em;
    padding: .4em;
    background-color: #678FFE;
    text-align: center;
    color: #012998;
}

#contact form {
    font-size: 16pt;
}

#contact form input, #contact form textarea {
    margin: .4em;
}

#contact form input[type="text"], #contact form input[type="email"], #contact form input[type="tel"], #contact form input[type="password"] {
    width: 20%;
    padding: .4em;
}

#contact form textarea {
    padding: .4em;
}

#contact input[type="submit"] {
    background-color: #012998;
    color: #DBE5FF;
    border: none;
    padding: 14px 24px;
    font-size: 10pt;
}

#contact input[type="submit"]:hover {
    cursor: pointer;
}